<form [formGroup]="quizForm" (ngSubmit)="submitForm()">
  <label for="quiz-name">Quiz Name:</label>
  <input id="quiz-name" type="text" formControlName="quizName" required>

  <ul formArrayName="questions">
    <li *ngFor="let question of questions.controls; let i = index">
      <app-question-input [formGroup]="getQuestionFormGroup(i)" (remove)="removeQuestion(i)"></app-question-input>
    </li>
  </ul>

  <button type="button" (click)="addQuestion()">Add Question</button>
  <button type="submit" [disabled]="quizForm.invalid">Submit Quiz</button>
</form>
