<div class="question-input" [formGroup]="formGroup">
  <input type="text" class="question-name" formControlName="questionName" placeholder="Enter question">

  <ul class="option-data">
    <li *ngFor="let option of options.controls; let i = index">
      <option-input [textControl]="getOptionText(i)"
                    [isCorrectControl]="getIsCorrectOption(i)"></option-input>
      <button type="button" (click)="removeOption(i)" *ngIf="options.length > 2">x</button>
    </li>
  </ul>
  <button type="button" (click)="addOption()">Add Option</button>
  <button type="button" (click)="remove.emit()">Remove Question</button>
</div>
